.viewtrailer{
  min-height: 800px;
  background-size: cover;
  background-position:center;
  display: flex;
  align-items: flex-end;
}
.boton{
  background-color: #0F1014;
  color: white;
  outline: none;
  border: 1px solid white;
  padding: 10px 15px;
  cursor: pointer;
  margin-bottom: 10px;
}
.reproductor{
  width: 100%;
  height: 600px;
}
.text-center{
  color: aliceblue;
  text-decoration: none;
}
.col-md-4 img{
  border-radius: 15px;
  border: solid 1px rgb(244, 242, 242);
  transition: transform .5s ease;
}
.col-md-4 img:hover{
  transform: scale(1.1);
  cursor: pointer;
}
.box-titulo{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.texto-h1{
  background-color: rgba(0, 0, 0, 0.849);
  border: 1px black;
  color: rgb(255, 255, 255);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-shadow: 0px 0px 15px 8px rgb(3, 3, 3);
}
.search{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}
.input-search{
  width: 350px;
  font-size: 20px;
  height: 37px;
  font-family: cursive;
  border: none;
  background-color: rgb(206, 207, 207);
}
.btn-Sarch{
  width: 54px;
  font-size: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 37px;
  border-radius: 1px;
  border: none;
  background-color: rgb(14, 194, 222);
}
.btn-Sarch:hover{
  background-color: rgb(44, 245, 40); 
}